{% extends 'investimentos/base.html' %}
{% block conteudo %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <h1 style="text-align:center;">Confirmar Exclusão</h1>
        <tr>
            <th>Voçe confirma a exclusão do(a) {{investimento.investimento}}? </th>
            <td><button class="btn btn-danger btn-sm" type="submit">Confirmar</button></td>
            <td><button class="btn btn-info btn-sm"><a style="color: white; text-decoration: none;"
                                                       href="{% url 'investimentos' %}">Cancelar</a></button></td>
        </tr>
    </form>
</div>
{% endblock %}